
.project-main-container{

  display: grid;
  place-content: center;
  height: 85vh;
  width: 100vw;
  margin: 0;
  padding: 0;

}

.project-card{
  height:auto;
  width: 100%;
  border: 1px solid aqua;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 25px;
  object-fit: fill;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: scale(0.6);
  position: relative;
}
.project-heading{
  font-size: 70px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-left: 1%;
  padding-top: 1%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke:1px rgb(0, 0, 0);

}

.splide__arrow--next{
  right:12%;
  width: 3%;
  height: 4%;
  font-size: 15px;
}

.splide__arrow--prev{
  left:12%;
  width: 3%;
  height: 4%;
  font-size: 15px;
}

